body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
  }
  li{
    list-style:none;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  .btn{
    padding: 0 20px;
    height: 40px;
    font-size: 20px;
    border:none;
    border-radius: 2px;
    background: #F1C40F;
    cursor: pointer;
  }
  .container{
    width:1000px;
    margin: 0 49.5px;
  }
  header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
  }
  
  @media (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
  }
  
  .logo {
    width: 60vw;
  }
  
  @media (max-width: 650px) {
    .logo {
      margin-top: 15px;
      width: 100%;
      position: relative;
    }
  }
  
  .logo > img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
  }
  
  @media (max-width: 650px) {
    .logo > img {
      margin: 0 auto;
    }
  }
  
  nav {
    font-weight: 400;
  }
  
  @media (max-width: 650px) {
    nav {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 50px;
    }
    nav li {
      padding-bottom: 5px;
    }
  }
  
  nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  @media (max-width: 650px) {
    nav > ul {
      flex-direction: column;
    }
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
  }
  
  .hero > h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
  }
  
  .hero input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
  }
  
  .hero input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
  }
  
  .hero input[type='submit']:hover {
    background-color: orange;
    transition: background-color 1s;
  }
  #features {
    margin-top: 30px;
  }
  
  #features .icon{
    color: darkorange;
    margin: 20px;
  }
  
  #features .desc{
      padding:5px;
      width:800px;
      height: 125px;
  }
  #how-it-works {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  
  #how-it-works > iframe {
    max-width: 560px;
    width: 100%;
  }
  
  
  #pricing {
    margin: 60px;
    display: flex;
    justify-content: center;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
  }
  
  .product > .level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .product > h2 {
    margin-top: 15px;
  }
  
  .product > ol {
    margin: 15px 0;
  }
  
  .product > ol > li {
    padding: 5px 0;
  }
  
  .product > button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
  }
  
  .product > button:hover {
    background-color: orange;
    transition: background-color 1s;
  }
  
  @media (max-width: 800px) {
    #pricing {
      flex-direction: column;
    }
    .product {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
  
  footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
  }
  
  footer > ul {
    display: flex;
    justify-content: flex-end;
  }
  
  footer > ul > li {
    padding: 10px;
  }
  
  footer > span {
    margin-top: 5px;
    display: flex;
    font-size: 16px;
    color: #444;
  }